---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-2xl">Hey there! My name is Matheus Dambrowski and I'm a Fullstack Developer.</CardTitle>
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm text-muted-foreground">
            I'm really happy to have you here. Please, feel free to get in touch and connect with me
            through <Link underline href='https://www.linkedin.com/in/matheus-b-dambrowski-b1a9b9203/'>LinkedIn</Link>, I'm sure I'd love
            to get to know you too. You can also check out my CV <Link underline href="https://github.com/MatheusBD15/CV/blob/master/CV%20Matheus%20Dambrowski.pdf">here</Link>.
          </p>
          <p class="mb-2 text-sm text-muted-foreground">
            This is my personal space where I will be sharing posts and content about things I study and care about,
            mostly related to tech. This blog is built with <Link underline href="https://astro.build/">Astro</Link> and all code and content is
            <Link underline href='https://github.com/MatheusBD15/matheus-dambrowski'>publicly available</Link>. Feel free to open an issue or
            pull request if you see any errors or mistakes in the content.
          </p>
        </CardContent>
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
